<div class="recipes flex flex-col w-full min-h-screen bg-slate-200 items-center gap-4 p-[2%]">
  <div class = "flex flex-row mb-4">
    <h1 class="text-3xl font-semibold sm:text-6xl">Public Recipes</h1>
  </div>
  <% @public_recipes.each do |recipe| %>
    <div class="recipe flex flex-row justify-between w-[64%] border border-black p-8">
      <div>
        <p class = "self-start">Recipe Name: <%= recipe.name %></p>
        <p class = "self-start">By: <%= recipe.user.name %></p>
      </div>
      <div>
        <p class = "self-start">Total Food Items: x</p>
        <p class = "self-start">Total Price: y</p>
      </div>
    </div>
  <% end %>
</div>
