<div class="recipes flex flex-col w-full min-h-screen items-center gap-10 p-[5%]">
  <h1 class="text-3xl font-semibold sm:text-6xl">Recipes</h1>
  <%= link_to 'New Recipe', new_recipe_path, class: "self-end underline mr-[5%] hover:text-red-400 hover:underline" %>
  <% @recipes.each do |recipe| %>
    <div class="recipe flex flex-col w-[90%] border border-black p-8">
      <div class="recipe-info flex self-start items-start gap-10">
        <h2 class="hover:text-red-400 hover:underline text-xl font-semibold">
          <%= link_to recipe.name, recipe_path(recipe) %>:
        </h2>
        <p class="mt-1"><%= recipe.description %></p>
      </div>
      <%= button_to 'Delete', recipe_path(recipe), method: :delete, class: "underline hover:text-red-400 hover:underline mt-2" %>
    </div>
  <% end %>
</div>